*{
  margin: 0;
  padding: 0;
}
.appContainer{
  height: 100%;
  width:100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
 
}
.pagesContainer{
  width: 100vw;
  height:93vh;
  margin: 0;
  padding: 0;
  background-color: coral;
}
