.home{
  display: flex;
  
}
.LocationsMap{
  height: 100%;
  width: 80%;
  background-color: green;
}
.homePageLeft{
  height: 100%;
  width: 20%;
  background-color: red;
}

.searchBar{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
  }