.home{
  display: flex;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #faebd7, #fdd8c9, #fbc5c6, #eeb5cf, #d0acdd, #b8b1ec, #95b8f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);  
}

.homePageLeft{
  height:100%;
  width: 65%;
  margin:0;
  padding:0;
  box-sizing: border-box;
 

}
.homePageRight{
  height: 100%;
  width: 35%;
  margin:0;
  padding:0.5vw;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../assets/images/44.jpg") no-repeat center center/cover;
 
}

.yyyerrorMessage{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  
}

