.home{
  display: flex;
  box-sizing: border-box;}

.BackGround{
  background-image: linear-gradient(to right top, #6d512c, #8d5744, #a56067, #b06f91, #aa85bb, #9c98d6, #85aceb, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);}


.homePageLeft{
  height:100%;
  width: 65%;
  margin:0;
  padding:0;
  box-sizing: border-box;
 

}
.homePageRight{
  height: 100%;
  width: 35%;
  margin:0;
  padding:0.5vw;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../assets/images/44.jpg") no-repeat center center/cover;
 
}

.yyyerrorMessage{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  
}
.homeText {
  width: 90%;
  height: fit-content;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid rgb(247, 224, 193);
  padding: 20px;
}

ol,ul {
  padding: 2vh 0;
  list-style-position: inside;
}
li {
  padding: 1vh 0;
}
@media (max-width:600px) {
  /*.home{
    flex-direction: column;
  }
  .homePageLeft{
width: 100%;
height: 60%;
  }

  .homePageRight{
    width: 100%;
height: 38%;
  }*/
}
