.searchBox {
  position: absolute;
  min-width: 50%;
  top: 1vw;
  left: 1vw;
  z-index: 100;
}
.searchInput {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  border-color: rgba(129, 96, 221);
  padding: 10px;
  font-size: 2rem;
}
.ComboboxOption {
  border-radius: 60px;
  padding: 10px;
  font-family: test1;
  font-size: 2rem;
}
.ComboboxPopover {
}
