.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  align-items: center;
  background: #2e2e2e;
  width: 100vw;
  height: 10vh;
  box-sizing: border-box;
  position: relative;
}
.navbarLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  box-sizing: border-box;
}

.navbarLogo {
  height: 85%;
  width: 100%;
  background: url("../../assets/images/logo2.svg") no-repeat center center/cover;
}
.navbarLogo:hover {
  background: url("../../assets/images/logo3.svg") no-repeat center center/cover;
}

.navbarLink {
  color: antiquewhite;
  padding: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  cursor: pointer;
  font-size: 1vw;
}

.navbarLink:hover {
  background: rgba(75, 75, 75, 0.418);
}

.navbarBtn {
  color: #faebd7;
  padding: 1rem;
  margin: 0 1rem;
  cursor: pointer;
  border: none;
  background: transparent;
}

.navbarBtn:hover {
  background: rgba(75, 75, 75, 0.418);
}
.logoClick {
  width: 100%;
  height: 100%;
}
.hide {
  display: none;
}

@media (max-width: 700px) {
  .navbarBtn {
    font-size: 10.5px;
  }
}
