.homeText {
  background-color: violet;
  width: 90%;
  height: 90%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5vw;
  box-sizing: border-box;
}

ol{
  padding: 2vh 0;
  list-style-position: inside;
}
li{
  padding: 1vh 0;
}